<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSharpOsu" version="1.4.9.3" targetFramework="net472" />
  <package id="mixer-client-csharp" version="0.8.4.12-beta" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net472" />
  <package id="OsuSharp" version="3.2.8" targetFramework="net472" />
</packages>